<div class="title">
    <h1>Bokningar</h1>
</div>
<div class="p_pos">
    <h2>Gruppträning</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in tempor dui, nec consectetur libero. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in tempor dui, nec consectetur libero.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Maecenas in tempor dui, nec consectetur libero. In in dui nisi. Donec laoreet arcu a iaculis maximus. Nunc nec
        nisl ut massa mattis tristique. Etiam facilisis neque ac aliquam viverra. Duis convallis, lacus quis sagittis
        euismod, metus ipsum accumsan erat, at sodales lectus turpis in nisl. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris venenatis felis at imperdiet aliquet. In ullamcorper elit a orci dignissim, sit amet
        imperdiet massa dignissim.
    </p>
</div>
<img class="bokningar img_pos" src="./img/160129-elderlyexercise-stock.jpg" alt="Gruppträning yoga">
<a class="button_div b1" href="./boka.html">
    <button>Boka</button>
</a>
<a class="button_div b2" href="./mina_bokningar.html">
    <button>Mina bokningar</button>
</a>