<div class="title">
    <h1>Medlemskap</h1>
</div>
<article>
    <h2>Bli medlem hos oss!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed augue vehicula, convallis nunc vel, rhoncus
        velit. Donec dictum et justo a ultrices. Fusce et pulvinar massa, vel dapibus metus. Cras pharetra lacus
        vitae enim placerat scelerisque. Integer varius iaculis lobortis. Mauris mi nisl, pretium vel leo eu, gravida
        vehicula lorem. Morbi nec sollicitudin ex. Vivamus et venenatis felis. Vivamus dolor nunc, sollicitudin ut
        metus id, congue cursus urna. Cras sit amet lectus libero. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Curabitur mattis egestas pretium. Vestibulum eu ornare libero.
        Proin posuere et tellus tempor facilisis. In in dui nisi. Donec laoreet arcu a iaculis maximus. Nunc nec
        nisl ut massa mattis tristique. Etiam facilisis neque ac aliquam viverra. Duis convallis, lacus quis sagittis
        euismod, metus ipsum accumsan erat, at sodales lectus turpis in nisl. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris venenatis felis at imperdiet aliquet. In ullamcorper elit a orci dignissim, sit amet
        imperdiet massa dignissim.
    </p>
</article>
<div class="title">
    <h1>Boka Gruppträning</h1>
</div>
<article>
    <h2>Boka din träning här</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed augue vehicula, convallis nunc vel, rhoncus
        velit. Donec dictum et justo a ultrices. Fusce et pulvinar massa, vel dapibus metus. Cras pharetra lacus
        vitae enim placerat scelerisque. Integer varius iaculis lobortis. Mauris mi nisl, pretium vel leo eu, gravida
        vehicula lorem. Morbi nec sollicitudin ex. Vivamus et venenatis felis. Vivamus dolor nunc, sollicitudin ut
        metus id, congue cursus urna. Cras sit amet lectus libero. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Curabitur mattis egestas pretium. Vestibulum eu ornare libero.
        Proin posuere et tellus tempor facilisis. In in dui nisi. Donec laoreet arcu a iaculis maximus. Nunc nec
        nisl ut massa mattis tristique. Etiam facilisis neque ac aliquam viverra. Duis convallis, lacus quis sagittis
        euismod, metus ipsum accumsan erat, at sodales lectus turpis in nisl. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris venenatis felis at imperdiet aliquet. In ullamcorper elit a orci dignissim, sit amet
        imperdiet massa dignissim.</p>
    <img src="./img/harroldboye.png" alt="Personer som tränar" class="wide-boye">
</article>
<div class="title">
    <h1>Klubbar</h1>
</div>
<article>
    <h2>Hitta närmsta klubb</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed augue vehicula, convallis nunc vel, rhoncus
        velit. Donec dictum et justo a ultrices. Fusce et pulvinar massa, vel dapibus metus. Cras pharetra lacus
        vitae enim placerat scelerisque. Integer varius iaculis lobortis. Mauris mi nisl, pretium vel leo eu, gravida
        vehicula lorem. Morbi nec sollicitudin ex. Vivamus et venenatis felis. Vivamus dolor nunc, sollicitudin ut
        metus id, congue cursus urna. Cras sit amet lectus libero. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Curabitur mattis egestas pretium. Vestibulum eu ornare libero.
        Proin posuere et tellus tempor facilisis. In in dui nisi. Donec laoreet arcu a iaculis maximus. Nunc nec
        nisl ut massa mattis tristique. Etiam facilisis neque ac aliquam viverra. Duis convallis, lacus quis sagittis
        euismod, metus ipsum accumsan erat, at sodales lectus turpis in nisl. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris venenatis felis at imperdiet aliquet. In ullamcorper elit a orci dignissim, sit amet
        imperdiet massa dignissim.</p>
</article>
