<div class="title">
    <h1>Medlemskap</h1>
</div>
<div>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aenean tincidunt ante at mi ullamcorper vulputate. 
        Nullam vulputate volutpat sollicitudin. Phasellus eu ante at orci sagittis pulvinar nec et lacus. 
        Phasellus in porta ex. Praesent eros ante, gravida eu arcu quis, faucibus pellentesque libero. 
        Maecenas vehicula tortor a lobortis fringilla. Phasellus cursus feugiat imperdiet. 
        Nullam rutrum dictum cursus. In in dui nisi. Donec laoreet arcu a iaculis maximus. Nunc nec
        nisl ut massa mattis tristique. Etiam facilisis neque ac aliquam viverra. Duis convallis, lacus quis sagittis
        euismod, metus ipsum accumsan erat, at sodales lectus turpis in nisl. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris venenatis felis at imperdiet aliquet. In ullamcorper elit a orci dignissim, sit amet
        imperdiet massa dignissim.
    </p>
</div>    
<img src="./img/quem_somos_2.jpg" alt="Tränande person">