main img {
    margin: 3vw;
    width: 94vw;
    height: auto;
}

@media only screen and ( min-device-width:799px ) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 5fr;
        margin-left: 12.5vw !important;
        width: 75vw;
    }

    main>.title {
        grid-column: span 2;
        grid-row: span 1;  
    }

    main div:nth-of-type(2) {
        grid-column: span 1;
        grid-row: span 1;
        width: 37.5vw;
        margin: 0px !important;
    }

    main .title {
        margin: 0px !important;
        padding: 0px;
        height: 8vh;
    }

    main img {
        width: 30vw;
        margin: 3.75vw !important;
        margin-top: 1.4vh !important;
    }
}